/* preview.css */
.right-part {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pdf-preview {
  border: 1px solid #ccc;
  padding: 10px;
  max-width: 800px;
  background-color: white;
  box-shadow: 1px 1px 1px 1px #000000;
  overflow-x: auto; /* Add this to enable horizontal scrolling if needed */
}

.pdf-preview table {
  width: 100%;
  border-collapse: collapse;
}

.pdf-preview th, .pdf-preview td {
  font-family: 'Times New Roman';
  font-size: 12pt;
  text-align: center;
  padding: 8px;
  border: 1px solid #000;
}

.pdf-preview th:nth-child(2),
.pdf-preview td:nth-child(2) {
  width: 100%;
}

.pdf-preview th:nth-child(1),
.pdf-preview th:nth-child(3),
.pdf-preview th:nth-child(4),
.pdf-preview th:nth-child(5),
.pdf-preview td:nth-child(1),
.pdf-preview td:nth-child(3),
.pdf-preview td:nth-child(4),
.pdf-preview td:nth-child(5) {
  width: 3%;
}
